<% filas.forEach((user)=> {
  if(user.contar == 0){ %>
  <script>
    window.location = "/error-page";
  </script>
  <% } else{ let date=user.fecha_entrada; const formatDate=(date)=>{
    let formatted_date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear()
    return formatted_date; }
    const currency = function(number){
    return new Intl.NumberFormat('en-EU', {style: 'currency',currency: 'USD', minimumFractionDigits: 2}).format(number);
    }; %>
    <% if(role==1){var rol="Administrador" }else if(role==2){var rol="Digitardor" } %>
      <!DOCTYPE html>
      <html lang="es">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Dashboard</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="../public/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css" />
        <link rel="stylesheet" href="../public/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css" />
        <link rel="stylesheet" href="../public/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css" />
        <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.base.css" />
        <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.addons.css" />
        <link rel="stylesheet" href="../public/css/table.min.css" />
        <link rel="stylesheet" href="../public/css/table.css" />
        <link rel="stylesheet" href="../public/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet"
          type="text/css" />
        <link rel="stylesheet" href="../public/assets/css/shared/style.css" />
        <link rel="stylesheet" href="../public/css/customTable.css" />
        <link rel="stylesheet" href="../public/assets/css/demo_1/style.css" />
        <link rel="stylesheet" href="../public/css/custom.css" />
        <link rel="stylesheet" href="../public/css/float.css" />
        <link rel="shortcut icon" href="../public/img/logo-w.svg" />
      </head>
      <body>
        <div class="loader-page" id="loader-page">
          <i class="h2">0%</i>	
          <span class="Loading"></span>
        </div>
        <div class="container-scroller" id="contener">
          <!-- partial:public/public/partials/_navbar.html -->
          <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div id="div-logo" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
              <a class="navbar-brand brand-logo" href="/">
                <img id="logo" src="../public/img/logo_w.svg" alt="logo" />
                <span id="logo-text"></span>
              </a>
              <a class="navbar-brand brand-logo-mini text-white" href="#" onclick="selecionar();">
                <i class="fa fa-navicon ms-1 small" id="icon"><b>Menu</b></i>
              </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
              <div class="col-12">
                <div class="page">
                  <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                    <ul class="navbar-nav ml-auto justify-content-end">
                      <li>
                        <h4 class="page-title d-sm-inline-text-center bg-light">
                          <b>Dashboard</b> <b class="d-none d-xl-inline-block">de Socios</b>
                        </h4>
                      </li>
                      <li class="nav-item dropdown user-dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                          aria-expanded="false">
                          <img class="img-xs rounded-circle" src="../<%= img %>" alt="Profile image"> </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                          <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="../<%= img %>" alt="Profile image">
                            <p class="mb-1 mt-3 font-weight-semibold">
                              <%= name %>
                            </p>
                            <p class="font-weight-light text-muted mb-0">
                              <%= email %>
                            </p>
                            <p class="font-weight-light text-muted mb-0">
                              <%= rol %>
                            </p>
                          </div>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="fa fa-user-circle"></i> Mi Perfil</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item"><i class="bi bi-chat-dots"></i> Soporte</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/exit"><i class="bi bi-box-arrow-in-right"></i> Salir</a>
                          <div class="dropdown-divider"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!-- partial -->
          <div class="container-fluid page-body-wrapper" id="item-1">
            <!-- partial:public/public/partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
              <ul class="nav">
                <li class="mb-5" id="espacio1">
                  <a class="nav-link navbar-brand-wrapper d-sm-flex d-lg-none align-items-top justify-content-center"
                    href="/index">
                    <img src="../public/img/logo_w.svg" style="width: 100px; color: #000" alt="logo" />
                  </a>
                  <div class="text-wrapper mb-5" id="espacio2">
                  </div>
                  </a>
                </li>
                <li class="nav-item nav-category"><i class=" fa fa-list"></i> &nbsp;Menu Principal</li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic">
                      <i class="menu-icon typcn typcn-coffee"></i>
                      <span class="menu-title"><i class="bi bi-house-door-fill"></i> Inicio</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                          <a class="nav-link" href="/register">
                            <i class=" fa fa-users"></i> &nbsp;Registrar Socios</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="collapse" href="#card_buscar"><i class="fa fa-search"></i>
                            &nbsp;Buscar Socios</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/chart"><i class="bi bi-bar-chart-line"></i> &nbsp;Informes</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/contabilidad"><i class="fa fa-book"></i> &nbsp;Contabilidad</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#card_ahorrar" data-toggle="collapse">
                      <span class="menu-title"><i class="bi bi-piggy-bank"></i> &nbsp;Aporte a Capital</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#card_salida" data-toggle="collapse">
                      <span class="menu-title"><i class="fa fa-arrow-circle-o-down"></i> Ahorros Retirables</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-pres">
                      <i class="menu-icon typcn typcn-coffee"></i>
                      <span class="menu-title"><i class="bi bi-bank2"></i> Prestamos</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-pres">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="collapse" href="#card_estatus" id="statuu">
                            <i class="bi bi-activity"></i> &nbsp;Estado</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="collapse" id="prestamo" href="#card_prestamos">
                            <i class="bi bi-file-text"></i>&nbsp;Solicitar</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse">
                      <span class="menu-title"><i class="fa fa-dollar"></i></i> Inversiones</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="histo" href="#card_history">
                      <span class="menu-title"><i class="fa fa-history"></i> Historial</span>
                    </a>
                  </li>
                  <script>
                    const redirect = () => {
                      window.location.href = "/edit/<%= user.id %>";
                    }
                  </script>
                  <li class="nav-item mb-2">
                    <a class="nav-link" onclick="redirect();" href="#">
                      <span class="menu-title"><i class="fa fa-edit"></i> Editar Socio</span>
                    </a>
                  </li>
                  <li class="nav-item nav-category"><i class=" fa fa-gear"></i> &nbsp;Menu de Mantenimiento</li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic">
                      <i class="menu-icon typcn typcn-coffee"></i>
                      <span class="menu-title"><i class="fa fa-gears"></i> Configuraciones</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                          <a class="nav-link" href="#" data-toggle="collapse" data-target="#create-users">
                            <i class="fa fa-user-circle"></i> &nbsp;Crear Usuario</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" data-toggle="collapse" data-target="#card_role"><i
                              class="fa fa-vcard"></i> &nbsp;Administrar Roles</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-window-maximize"></i> &nbsp;Ajustar
                            Caracteristica</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item mb-2">
                    <a class="nav-link" href="/exit">
                      <span class="menu-title"><i class="bi bi-box-arrow-in-right"></i> Salir</span>
                    </a>
                  </li>
              </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel" id="accordion">
              <div class="content-wrapper">
                <!--cuerpo-->
                <div class="row gutters-sm">
                  <div class="col-md-4 mb-3">
                    <div class="card rounded">
                      <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                          <img src="#" alt="Admin" id="socio" class="rounded-circle" width="150">
                          <div class="mt-3">
                            <h4 class="text-capitalize">
                              <%= user.nombre %>
                            </h4>
                            <p class="text-muted text-capitalize mb-1">
                              <%= user.profecion %>
                            </p>
                            <p class="text-muted text-capitalize font-size-sm">
                              <%= user.direccion %>
                            </p>
                            <p class="text-capitalize d-none" id="genero">
                              <%= user.genero %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card rounded mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                          </div>
                          <div class="col-sm-9 text-capitalize text-muted">
                            <%= user.fullname %>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-muted">
                            <a href="#">
                              <%= user.correo %>
                            </a>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                          </div>
                          <div class="col-sm-9 text-muted">
                            <%= user.telefono %>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Mobile</h6>
                          </div>
                          <div class="col-sm-9 text-muted">
                            <%= user.celular %>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Cuotas</h6>
                          </div>
                          <div class="col-sm-9 text-muted">
                            <%= currency(user.cuota)%>
                          </div>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
                <label class="d-none" id="id">
                  <%= user.id %>
                </label>
                <!--parte historico-->
                <div class="collapse fade show" id="card_history" data-parent="#accordion"
                  aria-labelledby="card_history">
                  <div class="card rounded">
                    <div class="card-body">
                      <h4 class="h2 font-weight-bold mb-3">
                        <i class="fa fa-history"></i> Historico de Transacciones del Socio
                      </h4>
                      <table id="HistoryTable" class="table table-striped boder-nonee text-center"
                        style="width:100%">
                        <thead>
                          <tr>
                            <th></th>
                            <th>No.Transaccion</th>
                            <th>Comentario</th>
                            <th>Fecha</th>
                            <th class="text-dark">Credito</th>
                            <th class="text-dark">Debito</th>
                            <th>Balance</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <script>
                  function validar() {
                    const
                      monto = document.getElementById("monto_debito"); "<% resurt.forEach((row)=> { %>"; let
                        balance =<%=row.retirable %>;
                    if (balance < monto.value) {
                      Swal.fire({
                        icon: 'error', title: 'Oops...',
                        text: 'No se puede retirar esta cantidad',
                        footer: '<span class="text-danger">Retirables Insuficientes!</span>',
                      }),
                        monto.value = "";
                    } "<%  }); %>"
                  }
                </script>
                <!--buscar-->
                <% if(role==1){ %>
                  <div class="collapse fade" id="card_buscar" data-parent="#accordion" aria-labelledby="card_buscar">
                    <div class="card rounded">
                      <div class="card-header col-lg-12 col-12 p-3">
                        <h4 class="text-title text-dark">Buscar Soccios de la Cooperativa</h4>
                      </div>
                      <div class="card-body">
                        <table id="tabla_cedula" class="table table-striped table-bordered" style="width:100%">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Cedula</th>
                              <th>Oficio</th>
                              <th>Fecha Ingreso</th>
                              <th>Buscar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% busqueda.forEach((user)=> {
                              let date = user.fecha_entrada; %>
                              <tr class="text-capitalize">
                                <td>
                                  <%= user.fullname %>
                                </td>
                                <td>
                                  <%= user.cedula %>
                                </td>
                                <td>
                                  <%= user.profecion %>
                                </td>
                                <td class="fecha">
                                  <%= formatDate(date) %>
                                </td>
                                <td>
                                  <a class='text-primary' href="/buscar/<%= user.id %>"><i
                                      class='fa fa-search fa-1x'></i></a>
                                  <a class='text-dark' href="/edit/<%= user.id %>"><i class='fa fa-edit fa-1x'></i></a>
                                </td>
                              </tr>
                              <% }); %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Nombre</th>
                              <th>Cedula</th>
                              <th>Oficio</th>
                              <th>Fecha Ingreso</th>
                              <th>Buscar</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                  <% } %>
                    <!--Ahorros-->
                    <div class="collapse fade" id="card_ahorrar" data-parent="#accordion"
                      aria-labelledby="card_ahorrar">
                      <form method="POST" action="/save_ahorros/<%= user.id %>" name="form-ahorro" id="form-ahorro">
                        <div class="card rounded">
                          <div class="card-body">
                            <h4 class="h2 font-weight-bold mb-3">
                              <i class="bi bi-piggy-bank"> </i>Registro de Aporte a Capital
                            </h4>
                            <div class="row mb-2">
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Fecha</label>
                                  <div class="col-sm-6 text-center">
                                    <input type="date" name="fecha" id="fecha" autocomplete="off"
                                      class="form-control text-center" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Tipo de Ahorro</label>
                                  <div class="col-md-6">
                                    <select class="form-control text-center" id="tipo" name="tipo"
                                      onchange="radio_retirable();">
                                      <option value="0">Selecciona...</option>
                                      <option value="1">Mensual</option>
                                      <option value="2">Trimestal</option>
                                      <option value="3">Anual</option>
                                      <option value="4">Ahorro Retirable</option>
                                      <option value="5">Cuota de Inscripcion</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mb-2">
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Monto</label>
                                  <div class="col-sm-8">
                                    <div class="input-group">
                                      <input type="number" class="form-control text-center" onchange="retirable();"
                                        onkeyup="Numeros(this.value)" placeholder="Monto a Ahorrar" name="monto_1"
                                        id="monto_1" autocomplete="off" aria-label="Monto (al dólar más cercano)"
                                        required />
                                      <div class="input-group-append">
                                        <span class="input-group-text bg-success text-white">$</span>
                                      </div>
                                      <input type="number" class="form-control text-center"
                                        onkeyup="Numeros(this.value)" placeholder="Ahorror Retirable" name="monto_2"
                                        id="monto_2" autocomplete="off" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Metodo de Ahorro</label>
                                  <div class="col-md-6">
                                    <select class="form-control text-center" name="metodo" id="metodo">
                                      <option value="0">Selecciona...</option>
                                      <option value="1">Efectivo</option>
                                      <option value="2">Deposito</option>
                                      <option value="3">Trasferencia</option>
                                      <option value="4">Cheque</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group row">
                                  <label class="col-sm-2 col-form-label">Concepto</label>
                                  <div class="col-md-4">
                                    <input type="text" size="15" maxlength="40" class="form-control text-center input"
                                      id="comentario" placeholder="Comentario o Concepto de Transaccion"
                                      autocomplete="off" name="comentario" required />
                                  </div>
                                  <div class="col-md-5">
                                    <button type="button" class="btn btn-success btn-lg" name="btn-ahorro"
                                      id="btn-ahorro">
                                      <i class="fa fa-arrow-circle-o-up"></i>Ahorrar
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!--salida-->
                    <div class="collapse fade" id="card_salida" aria-labelledby="card_salida" data-parent="#accordion">
                      <div class="card rounded h-100">
                        <div class="card-body">
                          <h4 class="h2 font-weight-bold mb-3">
                            <i class="fa fa-arrow-circle-o-down"></i> Ahorros Retirables
                          </h4>
                          <form method="POST" action="/debitar/<%= user.id %>">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Fecha</label>
                                  <div class="col-sm-6 text-center">
                                    <input type="date" name="fecha" autocomplete="off"
                                      class="form-control text-center" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-3 col-form-label">Monto</label>
                                  <div class="col-sm-7">
                                    <div class="input-group">
                                      <input type="number" class="form-control" name="monto" id="monto_debito"
                                        placeholder="Monto a Debitar" onkeyup="validar()" onblur="validar()"
                                        autocomplete="off" aria-label="Monto (al dólar más cercano)" required />
                                      <div class="input-group-append">
                                        <span class="input-group-text bg-danger text-white">$</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Metodo de Retiro</label>
                                  <div class="col-md-6">
                                    <select class="form-control text-center" name="metodo" id="metodo">
                                      <option value="0">Selecciona...</option>
                                      <option value="1">Efectivo</option>
                                      <option value="2">Deposito</option>
                                      <option value="3">Trasferencia</option>
                                      <option value="4">Cheque</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group row">
                                  <label class="col-sm-2 col-form-label">Concepto</label>
                                  <div class="col-md-4">
                                    <input type="text" size="15" maxlength="40" class="form-control text-center"
                                      placeholder="Comentario o Concepto de Transaccion" autocomplete="off"
                                      name="comentario" required />
                                  </div>
                                  <div class="col-md-5">
                                    <button type="submit" class="btn btn-danger btn-fw">
                                      <i class="fa fa-arrow-circle-o-down"></i>Debitar
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!--Prestamos-->
                    <div class="collapse fade" id="card_prestamos" aria-labelledby="card_prestamos"
                      data-parent="#accordion">
                      <div class="grid-margin">
                        <div class="card rounded">
                          <div class="card-body">
                            <h4 class="h2 font-weight-bold">Solicitar Prestamo</h4>
                            <div id="smartwizard">
                              <ul class="nav">
                                <li class="nav-item">
                                  <a class="nav-link" href="#step-1">
                                    <div class="num">1</div>
                                    Selecione el Prestamo
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#step-2">
                                    <span class="num">2</span>
                                    Generador de Prestamo
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#step-3">
                                    <span class="num">3</span>
                                    Tabla de amortización
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link " href="#step-4">
                                    <span class="num">4</span>
                                    Informacion Extra
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link " href="#step-5">
                                    <span class="num">5</span>
                                    Confirmacion
                                  </a>
                                </li>
                              </ul>
                              <div class="tab-content">
                                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                                  <form id="form-1" class="needs-validation">
                                  <div class="radio-group row justify-content-between px-3 text-center a">
                                    <div class="col-auto mr-sm-2 mx-1 card-block  py-0 text-center radio ">
                                      <div class="flex-row">
                                        <div class="col">
                                          <div class="pic"><input name="radio" type="radio" value="1" hidden required> <img
                                              class="irc_mut img-fluid" src="../public/img/factura1.png" width="100"
                                              height="100"> </div>
                                          <p>Prestamo 2x1</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-auto ml-sm-2 mx-1 card-block  py-0 text-center radio  ">
                                      <div class="flex-row">
                                        <div class="col">
                                          <div class="pic"><input name="radio" value="2" type="radio" hidden required><img
                                              class="irc_mut img-fluid" src="../public/img/factura.png" width="100"
                                              height="100"> </div>
                                          <p>Prestamo Factory</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-auto ml-sm-2 mx-1 card-block  py-0 text-center radio  ">
                                      <div class="flex-row">
                                        <div class="col">
                                          <div class="pic"><input name="radio" value="3" type="radio" hidden required><img
                                              class="irc_mut img-fluid" src="../public/img/factura3.png" width="100"
                                              height="100"> </div>
                                          <p>Prestamo Gerencial</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                                </div>
                                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                                  <form id="form-2" class="needs-validation">
                                  <div class="row d-flex justify-content-center">
                                    <div class="col-md-6">
                                      <div class="row d-flex justify-content-center">
                                        <div class="col-lg-12">
                                          <label class="col-form-label">Monto</label>
                                          <div class="form-group">
                                            <input type="number" class="form-control form-control-lg" min="1"
                                              id="amountLoan" name="amountLoan" placeholder="Ingrese monto"
                                              autocomplete="off" disabled />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row d-flex justify-content-center">
                                        <div class="col-lg-12">
                                          <label class="col-form-label">Cuotas</label>
                                          <div class="form-group">
                                            <input type="number" class="form-control form-control-lg" min="1"
                                              name="loansPayments" id="loansPayments" placeholder="Ingrese cuotas"
                                              autocomplete="off" required />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row d-flex justify-content-center">
                                        <div class="col-lg-12">
                                          <label class="col-form-label">Interes Anual</label>
                                          <div class="form-group">
                                            <input type="number" class="form-control form-control-lg" min="1"
                                              id="yearInterest" value="12" name="yearInterest" placeholder="Ingrese interes"
                                              autocomplete="off" required disabled/>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                                </div>
                                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                                  <div
                                    class="loans_calculator_container negative_top_margin bottom_left_border_radius mb-4">
                                    <div class="amortization_table_container negative_top_margin">
                                      <div class="amortization_table">
                                        <table class="table table-bordered table-responsive-sm table-sm" id="tEntrada">
                                          <thead class="table-info text-center">
                                            <tr>
                                              <th scope="col">No.</th>
                                              <th scope="col">Cuota</th>
                                              <th scope="col">Capital</th>
                                              <th scope="col">Interes</th>
                                              <th scope="col">Balance</th>
                                              <th scope="col">Vencimiento</th>
                                            </tr>
                                          </thead>
                                          <tbody class="text-center">
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group" hidden>
                                    <div class="row">
                                      <label id="nume"></label>
                                    </div>
                                  </div>
                                  <div class="result_container">
                                    <h3 class="h3 font-weight-light">Resultado:</h3>
                                    <label class="result_message"></label>
                                  </div>
                                </div>
                                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
                                  <form id="form-4" class="needs-validation">
                                    <div class="row d-flex justify-content-center">
                                      <div class="col-lg-12">
                                        <label class="col-form-label">Motivo</label>
                                        <div class="form-group">
                                          <select class="form-control form-control-lg" name="motivo" id="motivo" autocomplete="off" required>
                                            <option value="0">Elige Motivo</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                      <div class="col-lg-12">
                                        <label class="col-form-label">Observaciones</label>
                                        <div class="form-group">
                                          <textarea name="mComen" class="form-control form-control-lg" id="mComen" rows="10" placeholder="Escribe aqui tu observacion" required></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                <div id="step-5" class="tab-pane" role="tabpanel" aria-labelledby="step-5">
                                  <form id="form-5" class="needs-validation" novalidate="">
                                    <div class="col">
                                        <div class="mb-3 text-muted">Por favor, confirme los detalles de su Solicitud</div>
                                        <div id="order-details"></div>
                                        <div class="row gy-3">
                                          <div class="col">
                                            <div class="col-auto">
                                            <input type="checkbox" class="form-check-input" id="save-info" required>
                                            <label class="form-check-label" for="save-info">Estoy de acuerdo con los términos y condiciones</label>
                                          </div>
                                          </div>                      
                                          <small class="text-muted">Los datos ingresados se mandara a verficacion por un tercero</small>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="collapse fade" id="card_estatus" aria-labelledby="card_estatus"
                      data-parent="#accordion">
                      <div class="card rounded bg-white">
                        <div class="card-body">
                        <div class="h2 font-weight-bold">Estados de Prestamo</div>
                            <table class="table table-responsive-sm" id="tStatus" style="width: 100%;">
                                <thead>
                                    <tr>
                                      <th scope="col"></th> 
                                        <th scope="col">No.Prestamo</th>                    
                                        <th scope="col">Fecha</th>                    
                                        <th scope="col">Balance</th>                    
                                        <th scope="col">Estado</th>                    
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends-->
              </div>
              <!--button float-->
              <div id="container-floating">
                <div class="nd3 nds bg-info" data-toggle="collapse" data-target="#card_buscar">
                  <a class="letter text-white" href="#tabla_cedula"><i class="fa-solid fa-1x fa fa-search"></i></a>
                </div>

                <div class="nd1 nds bg-primary">
                  <a class="letter text-white" href="#item-1"><i class="fa-solid fa fa-angle-up fa-1x"></i></a>
                </div>

                <div id="floating-button" style="background-color: #20d414;">
                  <p class="plus">+</p>
                  <img class="edit"
                    src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
                </div>
              </div>
              <!-- partial:public/public/partials/_footer.html -->
              <footer class="footer">
                <div class="container-fluid clearfix">
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                    ©Informatica
                    Consulting Abreu y Paulino S.R.L</span>
                  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    Diseñando por
                    <a href="#" target="_blank">Informatica Consulting Abreu y Paulino S.R.L</a></span>
                </div>
              </footer>
              <!-- partial -->
            </div>
            <!-- main-panel ends -->
          </div>
          <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->

        <script src="../public/assets/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="../public/assets/js/shared/off-canvas.js"></script>
        <script src="../public/assets/js/shared/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../public/js/save.js" type="text/javascript"></script>
        <script src="../public/js/formato.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="../public/js/table.min.js"></script>
        <script src="../public/js/table.js"></script>
        <script src="../public/js/histori.js"></script>
        <script src="../public/js/calculadora.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/js/jquery.smartWizard.min.js"
          type="text/javascript"></script>
        <!-- End custom js for this page-->
      </body>

      </html>

      <% } }) %>