<% if(role==1){var rol="Administrador" }else if(role==2){var rol="Digitardor" } const currency=function(number){ return
  new Intl.NumberFormat('en-EU', {style: 'currency' ,currency: 'USD' , minimumFractionDigits: 2}).format(number); }; %>
  %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Informes</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="public/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="public/assets/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/b-2.2.3/b-html5-2.2.3/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet"
      type="text/css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css"
      rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="public/css/table.min.css">
    <link rel="stylesheet" href="public/css/table.css">

    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="public/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="public/assets/css/demo_1/style.css">
    <link rel="stylesheet" href="public/css/custom.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="public/img/logo_d.svg">
  </head>

  <body>
    <div class="loader-page" id="loader-page"></div>
    <div class="container-scroller" id="contener">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div id="div-logo" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="/">
            <img id="logo" src="../public/img/logo_w.svg" alt="logo" />
            <span id="logo-text"></span>
          </a>
          <a class="navbar-brand brand-logo-mini text-white" href="#" onclick="selecionar();">
            <i class="fa fa-navicon ms-1 small" id="icon"><b>Menu</b></i>
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <div class="col-12">
            <ul class="navbar-nav ml-auto justify-content-end">
              <li>
                <h4 class="page-title bg-light">
                  <b>Modulo de Informes</b>
                </h4>
              </li>
              <li class="nav-item dropdown user-dropdown">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                  aria-expanded="false">
                  <img class="img-xs rounded-circle" src="<%= img %>" alt="Profile image"> </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                  <div class="dropdown-header text-center">
                    <img class="img-md rounded-circle" src="<%= img %>" alt="Profile image">
                    <p class="mb-1 mt-3 font-weight-semibold">
                      <%= name %>
                    </p>
                    <p class="font-weight-light text-muted mb-0">
                      <%= email %>
                    </p>
                    <p class="font-weight-light text-muted mb-0">
                      <%= rol %>
                    </p>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"><i class="fa fa-user-circle"></i> Mi Perfil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"><i class="bi bi-chat-dots"></i> Soporte</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/exit"><i class="bi bi-box-arrow-in-right"></i> Salir</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="mb-5" id="espacio1">
              <a class="nav-link navbar-brand-wrapper d-sm-flex d-lg-none align-items-top justify-content-center"
                href="/index">
                <img src="public/img/logo_w.svg" style="width: 100px; color: #000" alt="logo" />
              </a>
              <div class="text-wrapper mb-4" id="espacio2">
              </div>
              </a>
            </li>
            <li class="nav-item nav-category"><i class=" fa fa-list"></i> &nbsp;Menu Principal</li>
            <% if(role==1){ %>
              <li class="nav-item">
                <a class="nav-link" href="/register">
                  <span class="menu-title"><i class=" fa fa-users"></i> &nbsp;Registrar Soccios</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span class="menu-title"><i class=" fa fa-search"></i> Buscar</span>
                </a>
              </li>
              <li class="nav-item nav-category"><i class=" fa fa-gear"></i> &nbsp;Menu de Mantenimiento</li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic">
                  <i class="menu-icon typcn typcn-coffee"></i>
                  <span class="menu-title"><i class="fa fa-gears"></i> Configuraciones</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="collapse" data-target="#create-users">
                        <i class="fa fa-user-circle"></i> &nbsp;Crear Usuario</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="collapse" data-target="#card_role"><i
                          class="fa fa-vcard"></i> &nbsp;Administrar Roles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-window-maximize"></i> &nbsp;Ajustar
                        Caracteristica</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contabilidad">
                  <span class="menu-title"><i class="fa fa-book"></i> Contabilidad</span>
                </a>
              </li>
              <li class="nav-item mb-2">
                <a class="nav-link" href="/exit">
                  <span class="menu-title"><i class="bi bi-box-arrow-in-right"></i> Salir</span>
                </a>
              </li>
              <% }else{ %>
                <li class="nav-item">
                  <a class="nav-link" href="/buscar/<%= idusers %>">
                    <span class="menu-title"><i class=" fa fa-bank"></i> Transacciones</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="menu-title"><i class="fa fa-history"></i> Historial</span>
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" href="/exit">

                    <span class="menu-title"><i class="bi bi-box-arrow-in-right"></i> Salir</span>
                  </a>
                </li>
                <% } %>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel" id="accordion">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">38</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Soccios</h5>
                            <p class="mb-0 text-muted">+14.00(+0.50%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-1"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">19,000</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Inscripcion</h5>
                            <p class="mb-0 text-muted">Cuotas</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-2"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">7,688</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Aportaciones</h5>
                            <p class="mb-0 text-muted">+57.62(+0.76%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-3"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">1,553</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Debitaciones</h5>
                            <p class="mb-0 text-muted">+138.97(+0.54%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-4"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!--Chart-->
              <div class="col-md-8 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Aportaciones a Capital</h4>
                    <div class="d-flex align-items-center justify-content-between w-100">
                      <p class="mb-0">Ingresos diario de la cooperativa</p>
                      <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dateSorter"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Este Mes</button>
                        <div class="dropdown-menu" aria-labelledby="dateSorter">
                          <div class="dropdown-item" id="market-overview_1">Dias</div>
                          <div class="dropdown-item" id="market-overview_2">Semanas</div>
                          <div class="dropdown-item" id="market-overview_3">Meses</div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-end">
                      <h3 class="mb-0 font-weight-semibold">$36,2531.00</h3>
                      <p class="mb-0 font-weight-medium mr-2 ml-2 mb-1">USD</p>
                      <p class="mb-0 text-success font-weight-semibold mb-1">(+1.37%)</p>
                    </div>
                    <canvas class="mt-4" height="100" id="market-overview-chart"></canvas>
                  </div>
                </div>
              </div>
              <!--top soccios-->
              <div class="col-md-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Top Soccios Activos</h4>
                    <div class="d-flex mt-3 py-2 mb-2 border-bottom">
                      <img class="img-sm rounded-circle" src="public/assets/images/faces/face3.jpg" alt="profile image">
                      <div class="wrapper ml-2">
                        <p class="mb-n1 font-weight-semibold">Ray Douglas</p>
                        <small>162543</small>
                      </div>
                      <small class="text-muted ml-auto">1 Hours ago</small>
                    </div>
                    <div class="d-flex py-2 mb-2 border-bottom">
                      <span class="img-sm rounded-circle bg-warning text-white text-avatar">OH</span>
                      <div class="wrapper ml-2">
                        <p class="mb-n1 font-weight-semibold">Ora Hill</p>
                        <small>162543</small>
                      </div>
                      <small class="text-muted ml-auto">4 Hours ago</small>
                    </div>
                    <div class="d-flex py-2 mb-3 border-bottom">
                      <img class="img-sm rounded-circle" src="public/assets/images/faces/face4.jpg" alt="profile image">
                      <div class="wrapper ml-2">
                        <p class="mb-n1 font-weight-semibold">Brian Dean</p>
                        <small>162543</small>
                      </div>
                      <small class="text-muted ml-auto">4 Hours ago</small>
                    </div>
                    <div class="d-flex mb-2 pt-2">
                      <span class="img-sm rounded-circle bg-success text-white text-avatar">OB</span>
                      <div class="wrapper ml-2">
                        <p class="mb-n1 font-weight-semibold">Olive Bridges</p>
                        <small>162543</small>
                      </div>
                      <small class="text-muted ml-auto">7 Hours ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--TAble-->
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h4 class="card-title mb-0">Estados de Cuenta</h4>
                </div>
                <p>Estado de Cuenta resumido por soccios en la cooperativa</p>
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="estado" style="width: 100%;">
                    <thead>
                      <tr>
                        <th class="text-dark">Nombre</th>
                        <th class="text-dark">A.Capital 70%</th>
                        <th class="text-dark">A. Retirable 30%</th>
                        <th class="text-dark">Total Ahorro</th>
                        <th class="text-dark">Retiros</th>
                        <th class="text-dark">Inscripcion</th>
                        <th class="text-dark">Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <script>
              window.onload = function () {
                $('#tabla_cedula').DataTable({
                  order: [[0, 'asc']]
                });
                $('#userTable').DataTable({
                  order: [[0, 'asc']]
                });
                let carga = document.getElementById("loader-page");
                carga.style.visibility = 'hidden';
                carga.style.opacity = '0';

                $('.radio-group .radio').click(function () {
                  $('.selected .fa').removeClass('fa-check');
                  $('.radio').removeClass('selected');
                  $(this).addClass('selected');
                });
                $('#smartwizard').smartWizard({
                  selected: 0,
                  theme: 'arrows',
                  autoAdjustHeight: true,
                  transitionEffect: 'fade',
                  showPasoURLhash: false,
                });
              };
              window.addEventListener("scroll", function (event) {

                var scroll_y = this.scrollY;

                posicion = scroll_y;
                let logo = document.getElementById("logo");
                if (posicion >= 100.35088348388672) {
                  logo.src = "public/img/logo_2_w.svg";
                  logo.style.width = "70px";
                  document.getElementById("logo-text").innerHTML = texto();
                } else {
                  logo.src = "public/img/logo_w.svg";
                  logo.removeAttribute("style");
                  document.getElementById("logo-text").innerHTML = "";

                }
              });
              function texto() {
                return '<p class="navbar-brand d-xl-inline-block text-white" id="logo-text">' +
                  '<b>COOPACFI</b>' +
                  '</p>';
              }
              function validar() {
                let passwordConfi = document.getElementById("passwordConfi");
                let password = document.getElementById("password");
                let error = document.getElementById("error");
                if (password.value != passwordConfi.value) {
                  error.classList.remove("d-none");
                } else {
                  error.classList.add("d-none")
                }
              }
              function selecionar() {
                var menu = document.getElementById("sidebar");
                var espacio1 = document.getElementById("espacio1");
                var espacio2 = document.getElementById("espacio2");
                var icon = document.getElementById("icon");
                var icon2 = document.getElementById("div-logo");
                if (menu.classList.contains('fixed-top') == true) {
                  menu.classList.remove("fixed-top");
                  espacio1.classList.add("mb-5");
                  espacio2.classList.add("mb-4");
                  icon2.classList.remove("bg-danger");
                  icon.classList.remove("fa-times-rectangle-o");
                  icon.classList.add("fa-navicon");
                  icon.innerHTML = "<b>Menu</b>"
                } else {
                  menu.classList.add("fixed-top");
                  espacio1.classList.remove("mb-5");
                  espacio2.classList.remove("mb-4");
                  icon.classList.remove("fa-navicon");
                  icon.classList.add("fa-times-rectangle-o");
                  icon2.classList.add("bg-danger");
                  icon.innerHTML = "<b>Close</b>";
                }
              }   
            </script>
            <!-- content-wrapper ends -->
          </div>
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-none d-xl-inline-block text-center text-sm-left">Copyright ©Informatica
                Consulting Abreu y Paulino S.R.L</span>
              <span class="text-muted d-sm-block d-lg-none small text-sm-center">Copyright ©Informatica
                Consulting Abreu y Paulino S.R.L</span>
              <span class="float-none float-sm-right d-none d-xl-inline-block mt-1 mt-sm-0 text-center"> Diseñando por
                <a href="#" target="_blank">Informatica Consulting Abreu y Paulino S.R.L</a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="public/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="public/assets/js/shared/off-canvas.js"></script>
    <script src="public/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="public/assets/js/demo_1/dashboard.js"></script>
    <script src="public/js/table.min.js"></script>
    <script src="public/js/table.js"></script>
    <script src="public/js/informes.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
      src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/b-2.2.3/b-html5-2.2.3/datatables.min.js"></script>
    <!-- End custom js for this page-->
  </body>

  </html>