<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="public/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="public/assets/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="public/css/custom.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="public/assets/css/shared/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="public/img/logo_d.svg" />
  </head>
  <body background="public/img/login.jpg" style="background-size: cover;">
    <div class="loader-page" id="loader-page"></div>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
                <form action="/auth" method="post" class="needs-validation" novalidate>
                  <h5 class="text-title text-center text-dark">Inicio de Seccion</h5>
                  <div class="form-group">
                    <label class="label" for="email">Email</label>
                    <div class="input-group">
                      <input type="email" name="email" id="email" autocomplete="off" class="form-control" placeholder="Correo Electronico" required>
                      <div class="input-group-append">
                        <span class="input-group-text">
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label" for="password">Contraseña</label>
                    <div class="input-group">
                      <input type="password" name="password" id="password" class="form-control" autocomplete="off" placeholder="*********" required>
                      <div class="input-group-append">
                        <span class="input-group-text">
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success submit-btn btn-block" id="login">Iniciar Seccion</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <div class="form-check form-check-flat mt-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked> Recordar email </label>
                    </div>
                    <a href="#" class="text-small forgot-password text-black">Olvidé mi contraseña</a>
                  </div>
                </form>
              
              <ul class="auth-footer">
                <li>
                  <a class="text-dark" href="#">Condiciones</a>
                </li>
                <li>
                  <a class="text-dark" href="#">Ayuda</a>
                </li>
                <li>
                  <a class="text-dark" href="#">Terminos</a>
                </li>
              </ul>
              <p class="footer-text text-center text-small text-muted">copyright © 2022 Informatica Consulting Abreu y Paulino.<br> All rights reserved.</p>
            </div>
            </div>
          </div>
          <% if(alert == true) { %>
            <script>
            
            </script>
            <% } %>
          <script>
            window.onload = function () {
              let carga = document.getElementById("loader-page");
              carga.style.visibility = 'hidden';
              carga.style.opacity = '0';

              <% if(alert == true) { %>
                Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfimButton %>,
                timer: <%= timer %>,

              }).then(()=>{
                window.location = '<%= ruta %>'
              })
              <% } %>
            }
          </script>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="public/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="public/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <script src="public/js/validar.js"></script>
    <!-- inject:js -->
    <script src="public/assets/js/shared/off-canvas.js"></script>
    <script src="public/assets/js/shared/misc.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- endinject -->
  </body>
</html>