<% if(role==1){var rol="Administrador" }else if(role==2){var rol="Digitardor" } %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../public/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../public/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="../public/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet"
      type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../public/css/table.min.css">
    <link rel="stylesheet" href="../public/css/table.css">

    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../public/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../public/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../public/assets/css/demo_1/style.css">
    <link rel="stylesheet" href="../public/css/custom.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../public/img/logo-w.svg">
  </head>

  <body>
    <div class="loader-page" id="loader-page"></div>
    <div class="container-scroller" id="contener">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div id="div-logo" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="/">
            <img id="logo" src="../public/img/logo_w.svg" alt="logo" />
            <span id="logo-text"></span>
          </a>
          <a class="navbar-brand brand-logo-mini text-white" href="#">
            <i class="fa fa-navicon ms-1 small" id="icon"><b>Menu</b></i>
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <div class="col-12">
            <ul class="navbar-nav ml-auto justify-content-end">
              <li>
                <h4 class="page-title bg-light">
                  <b>Contabilidad</b>
                </h4>
              </li>
              <li class="nav-item dropdown user-dropdown">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                  aria-expanded="false">
                  <img class="img-xs rounded-circle" src="../<%= img %>" alt="Profile image"> </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                  <div class="dropdown-header text-center">
                    <img class="img-md rounded-circle" src="../<%= img %>" alt="Profile image">
                    <p class="mb-1 mt-3 font-weight-semibold">
                      <%= name %>
                    </p>
                    <p class="font-weight-light text-muted mb-0">
                      <%= email %>
                    </p>
                    <p class="font-weight-light text-muted mb-0">
                      <%= rol %>
                    </p>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"><i class="fa fa-user-circle"></i> Mi Perfil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"><i class="bi bi-chat-dots"></i> Soporte</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/exit"><i class="bi bi-box-arrow-in-right"></i> Salir</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="mb-5" id="espacio1">
              <a class="nav-link navbar-brand-wrapper d-sm-flex d-lg-none align-items-top justify-content-center"
                href="/index">
                <img src="../public/img/logo_w.svg" style="width: 100px; color: #000" alt="logo" />
              </a>
              <div class="text-wrapper mb-5" id="espacio2">
              </div>
              </a>
            </li>
            <li class="nav-item nav-category mt-3" id="menu"><i class=" fa fa-list"></i> &nbsp;Menu Principal</li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#card_catalogo">
                <span class="menu-title"><i class="fa fa-book"></i> &nbsp;Cuentas del Catalogo</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#card_asiento" id="entrada">
                <span class="menu-title"><i class="bi bi-book-fill"></i> Entrada de Diario</span>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link" data-toggle="collapse" href="#">
                <span class="menu-title"><i class="bi bi-bar-chart-line"></i> Reportes</span>
              </a>
            </li>
            <li class="nav-item nav-category"><i class=" fa fa-gear"></i> &nbsp;Menu de Mantenimiento</li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title"><i class="fa fa-gears"></i> Configuraciones</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#create-users">
                      <i class="fa fa-user-circle"></i> &nbsp;Crear Usuario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#card_role"><i
                        class="fa fa-vcard"></i> &nbsp;Administrar Roles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-window-maximize"></i> &nbsp;Ajustar
                      Caracteristica</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link" href="/exit">
                <span class="menu-title"><i class="bi bi-box-arrow-in-right"></i> Salir</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel" id="accordion">
          <div class="content-wrapper">
            <div class="collapse fade mt-4 text-center show" id="index" data-parent="#accordion" aria-labelledby="index">
              <img class="img-fluid" src="../public/img/contabilidad.svg" alt="logo">
              <h4 class="text-title text-dark d-none d-lg-block"><b>Modulo de Contabilidad <i
                    class="fa fa-spinnerfa fa-spin fa-spinner"></i></b></h4>
              <h4 class="text-title text-dark small d-sm-block d-lg-none"><b>Modulo de Contabilidad <i
                    class="fa fa-spinnerfa fa-spin fa-spinner"></i></b></h4>
            </div>
            <div class="collapse fade" id="card_catalogo" data-parent="#accordion" aria-labelledby="card_catalogo">
              <div class="card-group">
                <div class="col-md-6 grid-margin">
                  <div class="card">
                    <div class="card-header col-lg-12 col-12 p-2" style="background-color: #7ff06be7;">
                      <h4 class="text-title text-dark h5"><i class="fa fa-book"></i> Mantenimiento Cuentas del Catalogo
                      </h4>
                    </div>
                    <div class="card-body" id="body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row pagination-sm">
                            <label class="col-sm-2 col-form-label">Cuenta</label>
                            <div class="col-md-3">
                              <select class="form-control select" id="formato" autocomplete="off" required>
                                <option value="1">2</option>
                                <option value="2">4</option>
                                <option value="3">6</option>
                                <option value="4">8</option>
                              </select>
                            </div>
                            <div class="col-md-7">
                              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="input-group">
                                  <input type="text" class="text-center text-dark page-link input" maxlength="12"
                                    placeholder="Entrada Cuentas" autocomplete="off" name="cuenta" id="cuenta">
                                </div>
                                <a class="page-link" href="#" id="right"><i class="fa fa-search"></i></a>
                                <div class="validation"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-md-9">
                              <input type="text" name="nombre" id="nombre" autocomplete="off"
                                class="form-control text-center text-capitalize input" maxlength="50"
                                placeholder="Nombre de la Cuenta Contable" />
                              <div class="validation"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo</label>
                            <div class="col-md-9">
                              <select type="text" name="tipo" id="tipo" autocomplete="off"
                                class="form-control text-capitalize select">
                                <option value="0">Elige un tipo</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Clase</label>
                            <div class="col-md-6">
                              <input name="clase" id="clase" autocomplete="off"
                                class="form-control form-control-sm text-capitalize" disabled />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Movimiento</label>
                            <div class="col-md-6">
                              <select name="movimiento" id="movimiento" autocomplete="off"
                                class="form-control form-control-sm select">
                                <option value="1">Si</option>
                                <option value="2">No</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Moneda</label>
                            <div class="col-md-7">
                              <select name="moneda" id="moneda" autocomplete="off"
                                class="form-control form-control-sm select">
                                <option value="1">Peso Dominicano</option>
                                <option value="2">Dollar</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 d-none" id="checked">
                          <input class="form-check-input" type="checkbox" value="3" id="activa">
                          <label class="form-check-label" for="activa">
                            Activo
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label"> Nota</label>
                            <div class="col-md-9">
                              <textarea class="form-control" id="nota" name="nota" rows="3"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-end">
                        <button type="button" id="bSubmit" style="background-color: #64d950f3;"
                          class="btn btn-success btn-lg">
                          <i class="fa-regular fa fa-book"></i> Registrar</button>
                        <button type="button" id="bBack" class="btn btn-secondary btn-lg d-none" disabled>
                          <i class="fa-solid fa fa-ban"></i></i> Cacelar</button>
                        <button type="button" id="bUpdate" style="background-color: rgb(61 147 239);"
                          class="btn btn-primary btn-lg d-none" disabled>
                          <i class="fa-solid fa fa-save"></i></i> Actualizar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Card 2-->
                <div class="col-md-6 grid-margin">
                  <div class="card">
                    <div class="card-header col-md-12 col-12 p-2" style="background-color: #7ff06be7;">
                      <h4 class="text-title text-dark h5 "><i class="fa fa-book"></i> Mantenimiento Cuentas del Catalogo
                      </h4>
                    </div>
                    <div class="card-body">
                      <table class="table table-bordered mb-2" id="tableCuenta" style="width: 100%;">
                        <thead>
                          <tr>
                            <th scope="col"># Cuenta</th>
                            <th scope="col">Nombre</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--CARD ASIENTO-->
            <div class="collapse fade" id="card_asiento" data-parent="#accordion" aria-labelledby="card_asiento">
              <div class="card">
                <div class="card-header col-lg-12 col-12 p-2" style="background-color: #7ff06be7;">
                  <h4 class="text-title text-dark h5"><i class="fa fa-book"></i> Entrada de Diario</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <h4 class="font-weight-light h3"> Acciones</h4>
                    <div class="col-md-12">
                      <div class="form-group row pagination-sm">
                        <div class="col-md-12 mb-3">
                          <div class="border border-bottom border-sencondary"></div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <button type="button" class="btn btn-success btn-lg" id="bSave"
                            style="background-color: #64d950f3;"><i class="fa fa-save"></i>Guardar</button>
                          <button type="button" id="back" class="btn btn-secondary btn-lg d-none" disabled>
                            <i class="bi bi-arrow-return-left"></i> Volver</button>
                          <button type="button" class="btn btn-secondary btn-lg" id="bConsu"><i
                              class="fa fa-search"></i>Consultar</button>
                          <button type="button" class="btn btn-danger btn-lg d-none" data-toggle="modal"
                            data-target="#modalNulo" id="bNulo" disabled style="background-color: rgb(239, 61, 61);"><i
                              class="fa fa-times"></i>Anular</button>
                          <button type="button" class="btn btn-primary btn-lg d-none" id="bPrint" disabled
                            style="background-color: rgb(61 147 239);"><i class="fa fa-print
                            "></i>Imprimir</button>
                        </div>
                        <div class="col-md-12">
                          <div class="border border-bottom border-sencondary"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row pagination-sm">
                        <label class="col-sm-2 col-form-label">Asiento No.</label>
                        <div class="col-md-3">
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="input-group">
                              <input type="text" class="form-control form-control-sm" name="numero" id="numero"
                                autocomplete="off" disabled>
                            </div>
                            <button type="button" class="page-link d-none" id="search" disabled><i
                                class="fa fa-search"></i></button>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <label class="col-sm-5 col-form-label d-none justify-content-end" id="status">Estado:
                          &nbsp;<span class="text-capitalize" id="statu"></span></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row pagination-sm">
                        <label class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-md-2">
                          <div class="input-group">
                            <input type="date" class="form-control form-control-sm input consu" name="fecha" id="fecha">
                          </div>
                        </div>
                        <label class="col-sm-4 col-form-label d-none justify-content-end" id="person2">Creado por:
                          &nbsp;<span class="text-capitalize" id="perso"></span></label>
                        <label class="col-sm-4 col-form-label d-none justify-content-end" id="person1">Anulado por:
                          &nbsp;<span class="text-capitalize" id="person"></span></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-2 text-truncate col-form-label">Referencia</label>
                        <div class="col-md-4">
                          <input type="text" name="referencia" id="referencia" autocomplete="off"
                            class="form-control input consu" placeholder="Referencia del asiento contable (Opcional)" />
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                          <span
                            class="border-bottom border-secondary font-weight-light text-justify small text-muted">Las
                            entradas de diario te permiten realizar traslado de saldo entre cuentas.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-2 text-truncate col-form-label">Observaciones</label>
                        <div class="col-md-4">
                          <textarea class="form-control consu" id="observa" name="observa"
                            placeholder="Observaciones de asiento" rows="3"></textarea>
                          <label class="col-form-label d-none" id="toCredito">$0.00</label>
                          <label class="col-form-label d-none" id="toDebito">$0.00</label>
                        </div>
                        <label class="col-sm-2 text-truncate col-form-label">Moneda</label>
                        <div class="col-md-2">
                          <select class="form-control form-control-sm input consu" name="sMoneda" id="sMoneda">
                            <option value="0">Elige moneda</option>
                            <option value="1">DOP</option>
                            <option value="2">USD</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table class="table table-sm table-responsive-sm" id="tEntrada">
                    <thead id="thead">
                      <tr>
                        <th scope="col">Cuenta Contable</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Centro de Costo</th>
                        <th scope="col">Debito</th>
                        <th scope="col">Credito</th>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                      <tr>
                        <td><select class="form-control form-control-sm sCuenta input"
                            autocomplete="off" id="sCuenta1">
                          </select></td>
                        <td><textarea class="form-control descripcion" id="descripcion" name="descripcion"
                            placeholder="Observaciones de asiento" rows="3"></textarea></td>
                        <td style="width: 20%;"><select class="form-control form-control-sm sCosto input"
                            autocomplete="off" id="sCosto">
                            <option value="0">Elige centro costo</option>
                            <option value="1">Principal</option>
                          </select></td>
                        <td style="width: 13%;"><input type="number" onkeyup="debito()" onfocus="ocultar()"
                            onblur="vali()" autocomplete="off" class="form-control form-control-sm iDebito"
                            id="iDebito1" />
                        </td>
                        <td style="width: 13%;"><input type="number" value="0" onkeyup="credito()" onfocus="ocultar()"
                            onblur="vali()" autocomplete="off" class="form-control form-control-sm iCredito"
                            id="iCredito1" disabled />
                        </td>
                        <td><button class="badge badge-danger border border-white bDelete" onclick="deleteRows()"><i
                              class="fa fa-times"></i></button></td>
                      </tr>
                      <tr>
                        <td><select class="form-control form-control-sm sCuenta input"
                            autocomplete="off" id="sCuenta2">
                          </select></td>
                        <td><textarea class="form-control descripcion" id="descripcion" name="descripcion"
                            placeholder="Observaciones de asiento" rows="3"></textarea></td>
                        <td style="width: 20%;"><select class="form-control form-control-sm sCosto input"
                            autocomplete="off" id="sCosto">
                            <option value="0">Elige centro costo</option>
                            <option value="1">Principal</option>
                          </select></td>
                        <td style="width: 13%;"><input type="number" onkeyup="debito()" onfocus="ocultar()"
                            onblur="vali()" autocomplete="off" class="form-control form-control-sm iDebito"
                            id="iDebito2" />
                        </td>
                        <td style="width: 13%;"><input type="number" onkeyup="credito()" onfocus="ocultar()"
                            onblur="vali()" autocomplete="off" class="form-control form-control-sm iCredito"
                            id="iCredito2" />
                        </td>
                        <td><button class="badge badge-danger border border-white bDelete" onclick="deleteRows()"><i
                              class="fa fa-times"></i></button></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td id="add1"><button type="button" id="bAdd"
                            class="btn btn-success badge badge-success">Agregar fila <i
                              class="fa fa-plus fa-1x"></i></button></td>
                        <td><span class="font-weight-bold">Conciliacion</span> <label class="col-form-label"
                            id="tTotal">$0.00</label></td>
                        <td class="font-weight-bold">Debito</td>
                        <td><label class="col-form-label" id="tDebito">$0.00</label></td>
                        <td class="font-weight-bold">Credito</td>
                        <td><label class="col-form-label" id="tCredito">$0.00</label></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalNulo" tabindex="-1" role="dialog" aria-labelledby="modalNuloTitle"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalNuloTitle">Se anulara el siguiente asiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-4 text-truncate col-form-label">Detalle de Anulacion</label>
                          <div class="col-md-8">
                            <textarea class="form-control" id="detalle" name="detalle"
                              placeholder="Detalle de anulacion de asiento" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closee">Close</button>
                    <button type="button" class="btn btn-primary" id="bNuloo">Anular</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-none d-xl-inline-block text-center text-sm-left">Copyright ©Informatica
                Consulting Abreu y Paulino S.R.L</span>
              <span class="text-muted d-sm-block d-lg-none small text-sm-center">Copyright ©Informatica
                Consulting Abreu y Paulino S.R.L</span>
              <span class="float-none float-sm-right d-none d-xl-inline-block mt-1 mt-sm-0 text-center"> Diseñando por
                <a href="#" target="_blank">Informatica Consulting Abreu y Paulino S.R.L</a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../public/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../public/assets/js/shared/off-canvas.js"></script>
    <script src="../public/assets/js/shared/misc.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../public/js/table.min.js"></script>
    <script src="../public/js/table.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../contabilidad/js/main.js"></script>
    <script src="../contabilidad/js/table.js"></script>
    <script src="../public/js/select2.js"></script>
    <!-- End custom js for this page-->
  </body>

  </html>